<x-window-main width="700" height="500" stylesheet="/usr/share/css/komunikado/main.css">
  <h1>Komunikado</h1>
	<section id="k-channel">
		<h2>Chose your conversation</h2>
		<ul>
			<li id="channel-public"><div class="boutton" title="channel public"><i class="fa fa-chevron-down"></i>channel public</div>
				<ul class="l-channel">
				</ul>
			</li>
			<li id="friends"><div class="boutton" title="friends"><i class="fa fa-chevron-up"></i>friends</div>
				<ul class="l-channel"></ul>
			</li>
		</ul>
	</section>
	<section id="k-chat"></section>
</x-window-main>
